# AppForge 开发环境端口。通常直接使用默认值即可。
APPFORGE_UI_PORT=5173
APPFORGE_API_PORT=8888
APPFORGE_SYSTEM_RPC_PORT=8080
APPFORGE_CORE_RPC_PORT=8081
APPFORGE_BUILDER_RPC_PORT=8082
APPFORGE_MYSQL_PORT=3306
APPFORGE_REDIS_PORT=6379
APPFORGE_ETCD_PORT=2379
APPFORGE_MINIO_PORT=9000
APPFORGE_MINIO_CONSOLE_PORT=9001

